{% extends "base.html" %}
{% block title %}My Firewall Migration Tool - Firewall Interfaces - Text Input{% endblock %}
{% block content %}

<h1>Firewall Interfaces - Text Input</h1>
<form method = "POST">
    <div class="shadow-lg p-3 mb-5 bg-body rounded bg-dark text-light">
        {{ form.hidden_tag() }}
        {{ form.fm_serial_number.label(class="form-label") }}
        {{ form.fm_serial_number(class="form-control") }}    
        <br/>
        {{ form.fm_input_txt.label(class="form-label") }}
        {{ form.fm_input_txt(class="form-control") }}            
        <br/><br/>
    </div>
    {{ form.submit(class="btn btn-dark") }}  
</form>

{% endblock %}